<!doctype html>

<html>
	<head>
		<title>API Test</title>
		<script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.min.js"></script>
		<style>
			#output > div, #output > p { padding: .5em; margin: .5em; }
			.info { color: #006; background-color: #ccf; }
		</style>
	</head>
	<body>
		<h1>API Test Page</h1>
		<div id="output"></div>
		<script>
			$(function () {
				console.info('Page Loaded');
				$('#output').append($('<p/>').addClass('info').text('Page Loaded'));
			});
		</script>
	</body>
</html>

