<!doctype html>

<html>
	<head>
		<title>API Test</title>
		<script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.min.js"></script>
		<script src="~/js/test.js"></script>
		<style>
			#output > div, #output > p { padding: .5em; margin: .5em; }
			.info { color: #006; background-color: #ccf; }
			.success { color: #060; background-color: #cfc; }
			.warning { color: #660; background-color: #ffc; }
			.error { color: #600; background-color: #fcc; }
			.code { white-space: pre-wrap; background-color: #eee; }
		</style>
	</head>
	<body>
		<h1>API Test Page</h1>
		<div id="output"></div>
		<script>
			$(function () {
				ApiTest.init();
				ApiTest.log.success('Test Success Message', { test: true });
				ApiTest.log.warning('Test Warning Message', { test: true });
				ApiTest.log.error('Test Error Message', { test: true });
			});
		</script>
	</body>
</html>

